<footer class="container py-3">
  <hr/>
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'home' %}">Home</a></li>
        <li><a class="text-muted" href="{% url 'login' %}">Login</a></li>
        <li><a class="text-muted" href="{% url 'signup' %}">Signup</a></li>
        <li><a class="text-muted" href="#">Explore</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'category-list' %}">Categories</a></li>
        <li><a class="text-muted" href="{% url 'tag-list' %}">Tags</a></li>
        <li><a class="text-muted" href="#">Profiles</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Categories</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Graphic & Design</a></li>
        <li><a class="text-muted" href="#">Programming & Technology</a></li>
        <li><a class="text-muted" href="#">Medical & Pharma</a></li>
        <li><a class="text-muted" href="#">Lifestyle</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
  <div class="col-12 text-muted">@rojgar.com</div>
</footer>
