{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% if error %}
		<div class="errormessage">
			<div class="errormessagebody"> 
				<b><h4>Error</h4>
				{{error}}</b>
			</div>
		</div>
	{% endif %}
	<h2>Log In</h2>
	<p>Don't have an account? <a href="/signup">Sign Up</a></p>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button class="btn btn-color" type="submit">Log In</button>
		<p>Forgot password?<a href="{% url 'reset_password'%}">Reset password</a></p>
	</form>
</div>

{% endblock %}