{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main">
	<header class="masthead text-white text-center">
		<div class="overlay"></div>
		<div class="container">

			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">Find The Perfect Freelance Services For Your Business</h1>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
					<form method="GET" action="/search">
						<div class="form-row">
							<div class="col-12 col-md-9 mb-2 mb-md-0">
								<input type="text" name="q" class="form-control form-control-lg"
									   placeholder="Search for a service...">
							</div>
							<div class="col-12 col-md-3">
								<button type="submit" class="btn btn-block btn-lg btn-info">Search</button>
							</div>
							<div class="col-12" style="margin-top: 1em;text-align: left;">
								Popular Tags:
								{% for tag in popular_tags %}
									<a href="{% url 'tag-details' tag.slug %}" class="badge badge-pill badge-info" style="min-width: 5em;">{{ tag }}</a>
								{% endfor %}
								<a href="/tags" class="badge badge-pill badge-info">...</a>
							</div>
						</div>
					</form>
				</div>
			</div>

			{% if not user.is_authenticated %}

			<div class="or"><b>OR</b></div>
			<div class="divider"></div>
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-5">Join Our Community To Make Money From Home</h1>
					<a href="{% url 'signup' %}" class="btn btn-lg btn-success">Join Us Now &raquo;</a>
				</div>
			</div>

			{% endif %}
		</div>
	</header>
	<div class="service">

		<div class="container page-section">
			<h2 class="page-title">New Profiles:</i></h2>
			<div class="row">
				{% for item in recently_added %}
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="card user-card">
							<img class="card-img-top user-card-image" src="https://source.unsplash.com/400x300/?laptop" alt="Card image">
							<div class="card-body">
								<div class="user-description">
									<div class="user-header">
										<div style="width: 2em; height: 2em;border-radius: 2em;background-image: url({% static 'images/default_profile_pic.png' %});background-color: grey;background-size: 2em 2em;">
										</div>
										<div style="padding-left: 1em;">
											<b>{{ item.user.username }}</b>
											<div>
												<span class="sml-text">{{ item.occupation }}</span>
											</div>

										</div>
									</div>
									<p style="font-size: 15px;" class="card-text">{{ item.description }}</p>
									
								</div>
								<hr />
								<div>
								  <a href="{% url 'public_profile' item.user.id %}" class="btn btn-info">View Profile</a>
								  <span class="sml-text">NRs.</span><b class="text-success" style="font-size: 20px;">{{ item.price }}</b>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="container page-section">
			<h2 class="page-title">Some Categories:</h2>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/P&T/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?code" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Programming and Technology</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/G&D/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?patterns" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Graphics and Design</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/DM/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?marketing" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Digital Marketing</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/DE/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?coding" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Data Entry</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/V&M/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?animation" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Video and Animation</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/M&A/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?music" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Music and Audio</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/AUD/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?tax" alt="Card image">
							<div class="card-img-overlay">
								<h2 class="card-title">Audit and Taxation</h2>
							</div>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-6 col-lg-3 user-card">
					<a href="categories/">
						<div class="card bg-dark text-white">
							<img class="card-img" src="https://source.unsplash.com/300x350/?white" alt="Card image" style="opacity: 0;">
							<div class="card-img-overlay">
								<h2 class="card-title">View All Categories...</h2>
							</div>
						</div>
					</a>
				</div>
				
			</div>
		</div>
		<!--our services section-->
		<section class="page-section" id="services">
			<div class="container">
				<div class="text-center">
					<h2 class="section-heading text-uppercase">Services</h2>
					<h3 class="section-subheading text-muted">We've got you covered for all your business needs.</h3>
				</div>
				<div class="row text-center">
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/freelance.png' %}"></span>
						<h4 class="my-3">Find Freelance Service</h4>
						<p class="text-muted">Find freelance services for your business easily. </p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/sell.png' %}"></span>
						<h4 class="my-3">Become A Worker</h4>
						<p class="text-muted">Introduce yourself into the freelance market.</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/remotework.png' %}"></span>
						<h4 class="my-3">Remote Work</h4>
						<p class="text-muted">Work remotely from anywhere.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="service" align="center">
	   <span class="fa-stack fa-4x"><img src="{% static 'images/arrow.png' %}"></span>
	</div>
	<div class="service1">
		<!--how it works section-->
		<section class="page-section" id="services">
			<div class="container">
				<div class="text-center">
					<h2 class="section-heading text-uppercase">Want To Become A Worker?</h2>
					<h3 class="section-subheading text-muted">How It Works?</h3>
				</div>
				<div class="row text-center">
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/profile.png' %}"></span>
						<h4 class="my-3">1. Set up your profile</h4>
						<p class="text-muted">Sign up for free, and create your profile.</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/deliver.png' %}"></span>
						<h4 class="my-3">2. Deliver your work</h4>
						<p class="text-muted">Once you get hired, you can discuss the details with
							customers.</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"><img src="{% static 'images/paid.png' %}"></span>
						<h4 class="my-3">3. Get paid</h4>
						<p class="text-muted">Payment is transferred to you upon work completion.</p>
					</div>
				</div>
			</div>
		</section>
		
	</div>

	<!-- <h1>Categories</h1>
	{% for cat_id, cat_val in categories %}
		<a href="{% url 'category-details' cat_id %}">{{ cat_val }}</a>
	{% endfor %} 
	<h1>Popular Tags</h1>
	{% for tag in popular_tags %}
		<a href="{% url 'tag-details' tag.slug %}">{{ tag }} </a>
	{% endfor %}-->


</main>
{% endblock content %}


