{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<div class="card mt-4">
		<div class="card-header" >
			<div class="row justify-content-center mt-4">
				<div class="col-md-5 p-0">
					<h2>Profile Page</h2>
				</div>
			</div>
		</div>
		<div class="card-body" >
			<div class="row justify-content-left mt-4">
				<div class="col-md-5 ml-5">
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="id_username">Username</label>
							<input type="text" name="username" class="form-control" id="id_username" value="{{user.username}}">
						</div>
						<div class="form-group">
							<label for="id_first_name">First name</label>
							<input type="text" name="first_name" class="form-control" id="id_first_name" value="{{user.first_name}}">
						</div>
						<div class="form-group">
							<label for="id_last_name">Last name</label>
							<input type="text" name="last_name" class="form-control" id="id_last_name" value="{{user.last_name}}">
						</div>

						<div class="form-group">
							<label for="id_occupation">Occupation</label>
							<input type="text" name="occupation" class="form-control" id="id_occupation" value="{{user.profile.occupation}}">
						</div>

						<div class="form-group">
							<label for="id_category">Category</label>
							<select name="category" class="form-control id=id_category">
							    <option value="P&T"> Programming & Technology</option>
        						<option value="G&D"> Graphics & Design</option>
        						<option value="DM"> Digital Marketing</option>
        						<option value="W&T"> Writing & Translation</option>
        						<option value="DE"> Data Entry</option>
        						<option value="V&M"> Video & Animation</option>
        						<option value="M&A"> Music & Audio</option>
        						<option value="B&I"> Business & Investment</option>
        						<option value="CS"> Consulting Service</option>
        						<option value="AH"> Architect Designs</option>
        						<option value="LI"> Lifestyle</option>
        						<option value="M&P"> Medical & Pharma</option>
        						<option value="Aud"> Audit & Taxation</option>
        						<option value="QA"> Quality Assurance</option>
        						<option value="Eng"> Engineering Consultancy</option>
        						<option value="OM"> Organization Management</option>
        						<option value="RP"> epair & Technical Support</option>
        						<option value="E&T"> Education & Teaching</option>
							</select>
						</div>

						<div class="form-group">
							<label for="id_gender">Gender</label>
							<select name="gender" class="form-control" id="id_gender">
								<option value="M"> Male</option>
								<option value="F"> Female</option>
								<option value="O"> Others</option>
							</select>
						</div>
						<div class="form-group">
							<label for="id_education">Education</label>
							<input type="text" name="education" class="form-control" id="id_education" value="{{user.profile.education}}">
						</div>
						<div class="form-group">
							<label for="id_skills">Skills</label>
							<input type="text" name="skills" class="form-control" id="id_skills"
							value="{% for skill in user.profile.skills.all %}{{ skill }}, {% endfor %}"/>
						</div>

						<div>
							<label for="id_price">Price</label>
							<input type="number" name="price" placeholder="Enter amount in Nepali Rupees" class="form-control" id="id_price" value="{{ user.profile.price }}">
						</div>

						<div class="form-group">
							<label for="id_description">Description</label>
							<textarea name="description" class="form-control" id="id_description">{{user.profile.description}}</textarea>
						</div>
						<div class="form-group">
							<label for="id_website">Website</label>
							<input type="url" name="website" class="form-control" id="id_website" {% if user.profile.website %}value="{{user.profile.website}}"{% endif %}>
						</div>
						<div class="form-group">
							<p>Available for hire :
								<input class="p-3 " type="checkbox" name="available_for_hire" class="form-control"
                                                                              id="id_available_for_hire"{% if user.profile.available_for_hire %}checked{% endif %} />
							</p>
						</div>
						<button type="submit" value="update" class="btn btn-primary">Update</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% else %}
<h1 class="text-disabled notfound">Forbidden!</h1>
{% endif %}


{% endblock %}


