{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container p-5">
        <div class="card">
            <div class="card-header"> <h4>{{ profile.user.username }}'s Profile</h4></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-12 col-sm-6 col-xl-4">
                        <img alt="User Pic"
                             src="{% static 'images/default_profile_pic.png' %}"
                            id="profile-image1" class="rounded-circle img-fluid p-auto">
                    </div>
                    <div class="col-lg-9 col-12 col-sm-6 col-xl-8">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h2>{{ profile.user.username }}</h2>
                                    <p>
                                        <span class="sml-text">Occupation :</span>
                                            {% if profile.occupation %}
                                                <b>{{ profile.occupation }}</b>
                                            {% else %}
                                                <i class="fas fa-times-circle" style="color:red; width=30px;"></i>
                                            {% endif %}
                                        <p>
                                            {% if profile.description %}
                                                {{profile.description}}
                                            {% endif %}
                                        </p>
                                    </p>
                                </div>
                                <div class="col-lg-9 col-12 col-sm-6 col-xl-5 m-3">
                                    {% if profile.available_for_hire %}
                                        {% if user.id != profile.user.id %}
                                            <form action="{% url 'user-action' profile.user.id 'hire' %}" method="POST">
                                                {% csrf_token %}
                                                {% if involved %}
                                                    <button class="btn btn-light btn-lg p-2" disabled> Hire </button>
                                                    <br/><b class="text-danger">Currently Hired</b>
                                                {% else %}
                                                    <button class="btn btn-success btn-lg p-2"> Hire </button>
                                                {% endif %}
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <div class="favourite">
                                            <form methd="POST" action="{% url 'add-favourite' profile.user.id %}">
                                                {% csrf_token %}
                                                <button type='submit' class='btn btn-light'>
                                                    {% if is_favourite %}
                                                        <i class="fas fa-heart"></i>
                                                    {% else %}
                                                        <i class="far fa-heart"></i>
                                                    {% endif %}
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="container details" style="list-style-type:none;">
                            <li>
                                <p>
                                    <i class="fas fa-envelope" style="width:30px; color:#48b4e0"></i>
                                    {% if profile.user.email %}
                                        {{ profile.user.email }}
                                    {% else %}
                                        <i class="fas fa-times-circle" style="color:red; width=30px;"></i>
                                    {% endif %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-user-graduate" style="width:30px; color: #48b4e0"></i>
                                    {% if profile.education %}
                                        {{ profile.education }}
                                    {% else %}
                                        <i class="fas fa-times-circle" style="color:red; width=30px;"></i>
                                    {% endif %}
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-globe" style="width:30px; color:#48b4e0"></i>
                                    {% if profile.website %}
                                        <a href="{{ profile.website }}"> {{ profile.website }}</a> {% else %}
                                        <i class="fas fa-times-circle" style="color:red; width=30px;"></i>
                                    {% endif %}
                                </p>
                            </li>
                            <!-- <li>
                                <p>
                                    <b>Available for hire : </b>
                                    {% if profile.available_for_hire %}
                                        <i class="fas fa-check" style="color:green"></i>
                                    {% else %}
                                        <i class="fas fa-times" style="color:red"></i>
                                    {% endif%}
                                </p>
                            </li> -->
                        </ul>
                        <hr>
                        <div class="col-md-10 col-6 tital">
                            <p>
                                <span class="sml-text">Member Since: </span>
                                <b>{{ profile.user.date_joined.date }}</b>
                            </p>
                            {% if profile.skills %}
                                <p>
                                    <span class="sml-text">Tags : </span>
                                    {% for skill in profile.skills.all %}
                                         <a href="{% url 'tag-details' skill.slug %}" class="btn btn-info btn-sm" style="border-radius: 2em;min-width: 5em;"> <span class="tag-title">{{ skill }}</span> </a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenitcated %}
            {% if user.id != profile.user.id %}
                <div>
                    <form method="POST" action="{% url 'comment-view' profile.user.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Post</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <div>
            <h1>All Comments</h1>
            <ul>
                {% for comment in comments %}
                    <li><b><i>{{ comment.user.username }} says, </i></b>{{ comment.body }}</li>
                {% empty %}
                    <li>No comments yet</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
