{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h2 class="page-title">All Categories</h2>

		<div class="row">
			{% for category in page_obj %}
			<div class="col-6 col-md-4 col-lg-2 category-card-place">
				<a href="{% url 'category-details' category.slug %}" class="btn btn-outline-info category-button">
					<h4 class="category-title">{{ category.name }}</h4>
				</a>
			</div>
			{% endfor %}
		</div>

		{% include "listings/pagination.html" %}

	</div>
{% endblock %}
