header.masthead {
  position: relative;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url('https://i.imgur.com/fYhNPhx.png') no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.or{
  position: relative;
  top:10px;

}
.or b{
  background-color: grey;
  width: 50px;
  border-radius: 6px;
}

.divider{
  height: 3px;
  background-color: white;
  margin-bottom: 3rem;
  border-radius: 3px;
}