/*************************
      home page css
**************************/
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url('https://i.imgur.com/fYhNPhx.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.or{
  position: relative;
  top:4rem;

}
.or b{
  background-color: grey;
  width: 50px;
  border-radius: 6px;
}

.divider{
  height: 3px;
  background-color: white;
  margin: 3rem ;
  border-radius: 3px;
}

a {
    outline: 0;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.page-title{
  padding: 20px 0px 10px 0px;
}

/****************************
        user card css
****************************/
.user-card-row{
  margin: 0px 2%;
}

.user-card{
  margin-top: 1em;
}

.user-card-image{
  height: 10em;
}

.user-description{
  height: 7em;
  overflow: hidden;
}

.user-header{
  display: flex;
  align-items: center
}

.sml-text{
  font-size: 0.8em;
}

/****************************
      category card css
****************************/
.category-card-place{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.category-button{
  height: 10em;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-title{
  text-transform: capitalize;
}

/****************************
      not found css
****************************/
.notfound{
  text-align: center;
  margin-top: 25vh;
}
