{% extends 'base.html' %}

{% block content %}

<center><h1 style=" font-weight: bold;
    font-size: 37px;
    top: 20%;
    margin-top: 100px;
    left: 60%;
    color: blue;">Work Your Way</h1>
<h3 style="    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 20px;
    color: blue;
    line-height: 70px;">You bring the skill. We'll make earning easy.</h3>

{% csrf_token %}
<button onclick=" {% if user.is_authenticated %} window.location.href = '{% url 'create' %}' {% else %} window.location.href = '{% url 'login' %}' {% endif %};">Become a Seller</button>
</center>
<p style=" font-size: 20px; margin-top: 30px; color: teal;">At Rojgar, it’s our mission to grow and cultivate the world’s largest digital marketplace, a place where people can find and purchase any service they need, and build any business they dream. As an employee, your work is inspired by the success of our users and the celebration of your own personal growth. Join us.</p>
<center><h1 style="margin-top: 30px; font-size: 25px">We Believe In</h1>
        <h2 style="font-weight: bold font-size: 35px"><span style="color: red">Action. </span><span style="color: blue">Community. </span><span style="color: green">Quality. </span></h2><hr>
</center>

{% endblock %}
